.products {
  position: relative;
}

.products_backdrop {
  background: transparent;
  position: absolute;
  top: 0%;
  left: 0;
  height: 0;
  width: 0;
  z-index: 50;
}

.products_backdrop_active {
  height: 80vh;
  width: 100%;
}
.products_filter_backdrop {
  position: absolute;
  top: 50px;
  left: 0;
  height: 0;
  width: 0;
  z-index: 50;
}

.products_filter_backdrop_active {
  background: rgba(0 0 0/15%);
  height: 90vh;
  width: 100%;
}

.products_topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.products_topbar h2 {
  flex: 10;
}

.products_topbar_elem {
  display: flex;
  margin: 0 5px 0 0;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  transition: 300ms;
  position: relative;
}
.products_topbar_elem p {
  margin-left: 0;
}

.products_sort-box {
  position: absolute;
  background: #fff;
  top: 100%;
  right: 10px;
  box-shadow: -1px 2px 12px rgba(0 0 0 /20%);
  z-index: 100;
  height: 0;
  width: 0px;
  overflow: hidden;
  transition: 300ms;
}

.products_sort-box_active {
  padding: 20px;
  height: fit-content;
  width: fit-content;
}
.products_filter-box {
  position: absolute;
  background: #fff;
  top: 40px;
  right: -12px;
  z-index: 100;
  min-height: 80vh;
  height: fit-content;
  width: 0;
  /* overflow: hidden; */
  transition: 300ms;
}
.products_filter-box:hover {
  cursor: default;
}

.products_filter-box_active {
  width: 95vw;
  box-shadow: -1px 2px 12px rgba(0 0 0 /20%);
}

.products_filter-box_left {
  background: rgba(238, 201, 214, 0.25);
  height: 100%;
  min-height: 80vh;
}

.products_filter-box_left li {
  padding: 15px 5px;
  font-weight: bolder;
  font-size: var(--font-medium);
  cursor: pointer;
}
.products_filter-box_left li:hover {
  background: rgba(165, 88, 224, 0.65);
  background: rgba(238, 201, 214, 0.65);
}

.products_filter-box_right {
  background: #fff;
  min-height: 80vh;
  height: 100%;
}
