.buttonComp {
  display: block;
  width: fit-content;
  margin: 10px auto;
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px;
  font-size: var(--font-medium);
  font-weight: 600;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  outline: none !important;
  border: 1px solid transparent;
  user-select: none;
  cursor: pointer;
}

.buttonComp:hover {
  background-color: #8c14ee;
}

.buttonComp:active {
  transform: translateY(2px);
}

.buttonComp-outline {
  border: 2px solid var(--primary-color);
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.buttonComp-outline:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.buttonComp-raised {
  -webkit-box-shadow: -5px 5px 15px rgb(155 75 228 / 40%);
  box-shadow: -5px 5px 15px rgb(155 75 228 / 40%);
}
.buttonComp-raised:hover {
  -webkit-box-shadow: -1px 5px 15px rgb(140 20 238 / 50%);
  box-shadow: -1px 5px 15px rgb(140 20 238 / 50%);
}

.buttonComp-disabled {
  background: darkgray !important;
}
.buttonComp-disabled:hover {
  color: #fff;
}

@media (max-width: 600px) {
  .buttonComp {
    padding: 10px 20px;
  }
  .buttonComp-outline {
    border: 1px solid var(--primary-color);
  }
}
