.cart-card {
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0 0 0 / 10%);
  min-height: 160px;
}

.cart-card_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-card_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-card_right .special-text {
  color: #000;
  margin: 0 3px;
}
.cart-card_right h4 {
  line-height: 22px;
}
