.product {
  position: relative;
}
.product_back-button {
  position: absolute;
  top: -12px;
  left: 12px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 35px;
  box-shadow: -1px 1px 14px rgba(0 0 0 / 10%);
  cursor: pointer;
  z-index: 50;
  background-color: #fff;
  font-weight: bolder;
  font-size: var(--font-medium);
  user-select: none;
  color: #000;
}

.product_carousel {
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}
.product_carousel_img {
  object-fit: cover;
  width: 100%;
}

.product_carousel .control-dots .dot {
  height: 10px;
  width: 10px;
  background-color: var(--secondary-color);
  opacity: 0.7;
}

.product_carousel .control-dots .selected {
  background-color: var(--primary-color);
}

.product_content {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_content h1 {
  margin-top: 30px;
}

.product_content .product_price {
  font-size: var(--font-large);
  margin: 10px 0;
}

.product_content .product_price span {
  font-weight: bolder;
  color: var(--primary-color);
}

.product_content .product_desc {
  margin: 35px 0;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .product_content {
    padding-left: 30px !important;
  }
}
